---
layout: "layout.njk"
title: "Beranda"
---

<div class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8">

    {% include '_hero.njk' %}

    {% include '_about.njk' %}

    {% include '_portfolio_section.njk' %}

    {% include '_blog_section.njk' %}

</div>